@import './fonts';
@import './dark-mode';
@import './media-queries';
@import './base';

/* Navigation */
nav {
    padding: 16px 0;

    .toggle--wrapper {
        gap: 4px;
        font-weight: 600;
        .toggle--theme {
            position: relative;
            display: inline-block;
            height: 22px;
            width: 42px;
            input {
                display: none;
            }
            .slider {
                background-color: #ccc;
                position: absolute;
                cursor: pointer;
                bottom: 0;
                left: 0;
                right: 0;
                top: 0;
                transition: .2s;
                border-radius: 20px;
                &::before {
                    content: "";
                    background-color: #fff;
                    top: 3px;
                    left: 3px;
                    height: 17px;
                    width: 17px;
                    position: absolute;
                    transition: 0.4s;
                    border-radius: 50%;
                }
            }
            input:checked {
                & + .slider {
                    background-color: $dark-background;
                    &::before {
                        transform: translateX(20px);
                    }
                }
            }
        }
    }
}

/* Countries */
.countries--wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 30px;
    @media (max-width: "1000px"){
        justify-content: space-around;
    }
    .card {
        width: 300px;
        overflow: hidden;
        margin-bottom: 50px;
        border-radius: $b-radius;
        .flag {
            width: 100%;
            height: 150px;
            object-fit: cover;
            border-radius: $b-radius $b-radius 0 0;
        }
        .infos {
            padding: 32px;
            h3 {
                margin-bottom: 16px;
                font-size: 18px;
            }
            p {
                font-size: 14px;
                &:not(:last-child) {
                    margin-bottom: 5px;
                }
                &:last-child {
                    margin-bottom: 16px;
                }
                span {
                    font-weight: 600;
                }
            }
        }
    }
}